
body {background: skyblue;}

.main_wrapper{

	width: 1000px;
	height:auto;
	margin: auto;
}

#header {

	width: 1000px;
	height: 120px;
	background-image: url(../images/bg-header.jpg);
	border-bottom: 5px groove orange;

}

#left{

	width: 790px;
	height: 800px;
	margin-top: 125px;
	background-color: white;
	float: left;

}

#right{
	width: 200px;
	height: 800px;
	margin-top: 125px;
	float: right;
	border-left: 5px groove orange;
	background: #187eae;
}

#right a{

	text-decoration: none;
	color: white;
	text-align: left;
	font-size: 18px;
	font-family: Palatino;
	padding: 6px;
	margin: 6px;
	display:block;
}

#right a:hover{text-decoration: underline; font-weight: bolder; color: orange ;}

